<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
  <meta name="description" content="App for keeping track of my rides" />
  <meta name="theme-color" content="#CBD394" />
  <title>Mapping my rides</title>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='favicon.ico')}}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/cog.png')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script type="text/javascript">
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }

  </script>
  <style type="text/css">
    html, body {
        height: 100%;
        margin: 0;
    }
    #wrapper {
        min-height: 100%;
    }
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .loader {
       display: none;
    }
    .skip-link {
      position: absolute;
      top: -40px;
      left: 0;
      background: #000000;
      color: white;
      padding: 8px;
      z-index: 100;
    }
    .skip-link:focus {
      top: 0;
    }
  </style>
  <script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
        document.getElementsByClassName("draw")[0].style.display = "none";
    }
  </script>

</head>

<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <h1 style="display: none">Mah rides</h1>
  <main id="main">
      <a href="/app" onclick="spinner()" class="draw btn btn-dark center">Draw map</a>
      <div class="loader center">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
  </main>
</body>

</html>
